<!-- filepath: /home/labber/lighthouse/jungle_project/app/views/about/index.html.erb -->
<section class="about-page">
  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <div class="content">
    <p>Welcome to Jungle! We are a store that sells amazing products. Our mission is to provide the best products at the best prices.</p>
    <p>Feel free to browse our products and categories. We hope you have a great shopping experience!</p>
  </div>
</section>
